In [20]:
path = "C:\\Users\\alok\\Desktop\\Inzint\\datasets\\Online_Retail.xlsx"
import pandas as pd
df = pd.read_excel(path)
print(df.columns)
print(df.info())
print(df.isnull().sum())
print(df.describe)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
<bound method NDFrame.describe of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]>

In [21]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [22]:
df['Description'] = df['Description'].str.strip()

In [23]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [24]:
has_C_invoice = df['InvoiceNo'].astype(str).str.contains('C').any()

if has_C_invoice:
    print("The dataset contains InvoiceNo with 'C'.")
else:
    print("The dataset does not contain InvoiceNo with 'C'.")

The dataset contains InvoiceNo with 'C'.

In [25]:
df = df[~df['InvoiceNo'].astype(str).str.contains('C')]

In [26]:
df.drop("CustomerID", axis=1, inplace=True)

C:\Users\alok\AppData\Local\Temp\ipykernel_8792\2051367192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("CustomerID", axis=1, inplace=True)

In [27]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom
...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,France

In [28]:
df.shape

(532621, 7)

In [29]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [54]:
france = df[df["Country"]=="France"]

In [55]:
france

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,France
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,France
...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,France

In [56]:
france.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
Country        0
dtype: int64

In [57]:
basket = france.groupby(["InvoiceNo", "Description"])["Quantity"].sum().unstack().reset_index()

In [64]:
basket

Description,InvoiceNo,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
0,536370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,536852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,536974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,537065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,537463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,580986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,581001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,581171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,581279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,581587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
basket_sets = basket.set_index('InvoiceNo').applymap(lambda x: 1 if x > 0 else 0)

C:\Users\alok\AppData\Local\Temp\ipykernel_8792\52463265.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_sets = basket.set_index('InvoiceNo').applymap(lambda x: 1 if x > 0 else 0)

In [37]:
def encode_data(x):
    if x <= 0:
        return 0
    else:
        return 1

# Apply the encode_data function to every element in the basket DataFrame
encode_basket = basket.applymap(encode_data)

'''basket_sets = basket.set_index('InvoiceNo').applymap(lambda x: 1 if x > 0 else 0)'''

C:\Users\alok\AppData\Local\Temp\ipykernel_8792\4259921274.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  encode_basket = basket.applymap(encode_data)

In [60]:
from mlxtend.frequent_patterns import apriori, association_rules

In [59]:
frequent_itemsets = apriori(basket_sets, min_support=0.05, use_colnames=True)

c:\Users\alok\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [61]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [63]:
print(rules)
print(frequent_itemsets)

                                           antecedents  \
0                        (4 TRADITIONAL SPINNING TOPS)
1                                            (POSTAGE)
2                         (ALARM CLOCK BAKELIKE GREEN)
3                          (ALARM CLOCK BAKELIKE PINK)
4                         (ALARM CLOCK BAKELIKE GREEN)
..                                                 ...
343  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...
344                    (SET/6 RED SPOTTY PAPER PLATES)
345                                          (POSTAGE)
346                      (SET/6 RED SPOTTY PAPER CUPS)
347               (SET/20 RED RETROSPOT PAPER NAPKINS)

                                           consequents  antecedent support  \
0                                            (POSTAGE)            0.071429
1                        (4 TRADITIONAL SPINNING TOPS)            0.765306
2                          (ALARM CLOCK BAKELIKE PINK)            0.096939
3                         (ALARM CLOCK BAKELIKE GREEN)            0.102041
4                           (ALARM CLOCK BAKELIKE RED)            0.096939
..                                                 ...                 ...
343           (SET/6 RED SPOTTY PAPER PLATES, POSTAGE)            0.102041
344  (POSTAGE, SET/6 RED SPOTTY PAPER CUPS, SET/20 ...            0.127551
345  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...            0.765306
346  (SET/6 RED SPOTTY PAPER PLATES, POSTAGE, SET/2...            0.137755
347  (SET/6 RED SPOTTY PAPER PLATES, POSTAGE, SET/6...            0.132653

     consequent support   support  confidence      lift  leverage  conviction  \
0              0.765306  0.056122    0.785714  1.026667  0.001458    1.095238
1              0.071429  0.056122    0.073333  1.026667  0.001458    1.002055
2              0.102041  0.073980    0.763158  7.478947  0.064088    3.791383
3              0.096939  0.073980    0.725000  7.478947  0.064088    3.283859
4              0.094388  0.079082    0.815789  8.642959  0.069932    4.916181
..                  ...       ...         ...       ...       ...         ...
343            0.107143  0.081633    0.800000  7.466667  0.070700    4.464286
344            0.084184  0.081633    0.640000  7.602424  0.070895    2.543934
345            0.099490  0.081633    0.106667  1.072137  0.005493    1.008034
346            0.084184  0.081633    0.592593  7.039282  0.070036    2.247913
347            0.102041  0.081633    0.615385  6.030769  0.068097    2.334694

     zhangs_metric
0         0.027972
1         0.110672
2         0.959283
3         0.964734
4         0.979224
..             ...
343       0.964489
344       0.995431
345       0.286685
346       0.995007
347       0.961765

[348 rows x 10 columns]
      support                                           itemsets
0    0.071429                      (4 TRADITIONAL SPINNING TOPS)
1    0.096939                       (ALARM CLOCK BAKELIKE GREEN)
2    0.102041                        (ALARM CLOCK BAKELIKE PINK)
3    0.094388                         (ALARM CLOCK BAKELIKE RED)
4    0.068878                       (ASSORTED COLOUR MINI CASES)
..        ...                                                ...
190  0.102041  (SET/6 RED SPOTTY PAPER PLATES, POSTAGE, SET/6...
191  0.099490  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...
192  0.056122  (ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKEL...
193  0.053571  (PLASTERS IN TIN CIRCUS PARADE, PLASTERS IN TI...
194  0.081633  (SET/6 RED SPOTTY PAPER PLATES, POSTAGE, SET/6...

[195 rows x 2 columns]

# Natural Language Processing

In [23]:
text = "Natural language processing (NLP) is a subfield of linguistics, computer science, and artificial intelligence concerned with the interactions between computers and human language."
import nltk
from nltk.util import bigrams, trigrams
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, RegexpTokenizer
from nltk.stem import PorterStemmer, LancasterStemmer, SnowballStemmer
from nltk import pos_tag

In [13]:
text = "In this example, the chatbot serves as an automated assistant that handles customer inquiries, providing timely and accurate responses to common questions. By implementing a chatbot, you can improve the efficiency of your customer service operations, reduce response times, and enhance the overall customer experience on your website."

In [14]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\alok\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [27]:
import string
from nltk.stem import WordNetLemmatizer

In [28]:
tokens = word_tokenize(text)

stop_words = set(stopwords.words('english'))
filtered_tokens = [token for token in tokens if token.lower() not in stop_words and token not in string.punctuation]

ps = PorterStemmer()
ls = LancasterStemmer()
ss = SnowballStemmer("english")
stemmed_tokens_ps = [ps.stem(token) for token in filtered_tokens]
stemmed_tokens_ls = [ls.stem(token) for token in filtered_tokens]
stemmed_tokens_ss = [ss.stem(token) for token in filtered_tokens]

pos_tags = pos_tag(filtered_tokens)


lemmatizer = WordNetLemmatizer()
lemmatized_tokens = [lemmatizer.lemmatize(token) for token in filtered_tokens]

print("Original Text:", text)
print("\nTokens:", tokens)
print("\nFiltered Tokens after Stopword Removal:", filtered_tokens)
print("\nStemmed Tokens PS:", stemmed_tokens_ps)
print("\nStemmed Tokens LS:", stemmed_tokens_ls)
print("\nStemmed Tokens SS:", stemmed_tokens_ss)
print("\nPOS Tags:", pos_tags)
print("Lemmatized Tokens:", lemmatized_tokens)

Original Text: Natural language processing (NLP) is a subfield of linguistics, computer science, and artificial intelligence concerned with the interactions between computers and human language.

Tokens: ['Natural', 'language', 'processing', '(', 'NLP', ')', 'is', 'a', 'subfield', 'of', 'linguistics', ',', 'computer', 'science', ',', 'and', 'artificial', 'intelligence', 'concerned', 'with', 'the', 'interactions', 'between', 'computers', 'and', 'human', 'language', '.']

Filtered Tokens after Stopword Removal: ['Natural', 'language', 'processing', 'NLP', 'subfield', 'linguistics', 'computer', 'science', 'artificial', 'intelligence', 'concerned', 'interactions', 'computers', 'human', 'language']

Stemmed Tokens PS: ['natur', 'languag', 'process', 'nlp', 'subfield', 'linguist', 'comput', 'scienc', 'artifici', 'intellig', 'concern', 'interact', 'comput', 'human', 'languag']

Stemmed Tokens LS: ['nat', 'langu', 'process', 'nlp', 'subfield', 'lingu', 'comput', 'sci', 'art', 'intellig', 'concern', 'interact', 'comput', 'hum', 'langu']

Stemmed Tokens SS: ['natur', 'languag', 'process', 'nlp', 'subfield', 'linguist', 'comput', 'scienc', 'artifici', 'intellig', 'concern', 'interact', 'comput', 'human', 'languag']

POS Tags: [('Natural', 'JJ'), ('language', 'NN'), ('processing', 'NN'), ('NLP', 'NNP'), ('subfield', 'NN'), ('linguistics', 'NNS'), ('computer', 'NN'), ('science', 'NN'), ('artificial', 'JJ'), ('intelligence', 'NN'), ('concerned', 'VBN'), ('interactions', 'NNS'), ('computers', 'NNS'), ('human', 'JJ'), ('language', 'NN')]
Lemmatized Tokens: ['Natural', 'language', 'processing', 'NLP', 'subfield', 'linguistics', 'computer', 'science', 'artificial', 'intelligence', 'concerned', 'interaction', 'computer', 'human', 'language']

In [22]:
list(bigrams(tokens))

[('In', 'this'),
 ('this', 'example'),
 ('example', ','),
 (',', 'the'),
 ('the', 'chatbot'),
 ('chatbot', 'serves'),
 ('serves', 'as'),
 ('as', 'an'),
 ('an', 'automated'),
 ('automated', 'assistant'),
 ('assistant', 'that'),
 ('that', 'handles'),
 ('handles', 'customer'),
 ('customer', 'inquiries'),
 ('inquiries', ','),
 (',', 'providing'),
 ('providing', 'timely'),
 ('timely', 'and'),
 ('and', 'accurate'),
 ('accurate', 'responses'),
 ('responses', 'to'),
 ('to', 'common'),
 ('common', 'questions'),
 ('questions', '.'),
 ('.', 'By'),
 ('By', 'implementing'),
 ('implementing', 'a'),
 ('a', 'chatbot'),
 ('chatbot', ','),
 (',', 'you'),
 ('you', 'can'),
 ('can', 'improve'),
 ('improve', 'the'),
 ('the', 'efficiency'),
 ('efficiency', 'of'),
 ('of', 'your'),
 ('your', 'customer'),
 ('customer', 'service'),
 ('service', 'operations'),
 ('operations', ','),
 (',', 'reduce'),
 ('reduce', 'response'),
 ('response', 'times'),
 ('times', ','),
 (',', 'and'),
 ('and', 'enhance'),
 ('enhance', 'the'),
 ('the', 'overall'),
 ('overall', 'customer'),
 ('customer', 'experience'),
 ('experience', 'on'),
 ('on', 'your'),
 ('your', 'website'),
 ('website', '.')]

In [12]:
sent = "Jim eats a banana."

pattern = r'(?u)\W+|\$[\d\.]+|\S+'
tokenizer = RegexpTokenizer(pattern)

tokens = tokenizer.tokenize(sent)

print(tokens)

['Jim', ' ', 'eats', ' ', 'a', ' ', 'banana.']

In [ ]:
'''for i in tokens:
    print(nltk.pos_tag([i]))'''

In [29]:
def stem_words(sentence):
    # Tokenization
    tokens = word_tokenize(sentence)

    # Get English stopwords
    stop_words = set(stopwords.words('english'))

    # Remove stopwords and punctuation marks from tokens
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words and token not in string.punctuation]

    # Initialize stemming algorithms
    ps = PorterStemmer()
    ls = LancasterStemmer()
    ss = SnowballStemmer("english")

    # Perform stemming with each algorithm
    stemmed_tokens_ps = [ps.stem(token) for token in filtered_tokens]
    stemmed_tokens_ls = [ls.stem(token) for token in filtered_tokens]
    stemmed_tokens_ss = [ss.stem(token) for token in filtered_tokens]

    # Create a dictionary to store stemmed tokens
    stemmed_tokens = {
        "PorterStemmer": stemmed_tokens_ps,
        "LancasterStemmer": stemmed_tokens_ls,
        "SnowballStemmer": stemmed_tokens_ss
    }

    return stemmed_tokens

In [30]:
stem_words("fisherman")

{'PorterStemmer': ['fisherman'],
 'LancasterStemmer': ['fisherm'],
 'SnowballStemmer': ['fisherman']}

In [31]:
def lemmatize_words(sentence):
    
    tokens = word_tokenize(sentence)
    
    stop_words = set(stopwords.words('english'))

    filtered_tokens = [token for token in tokens if token.lower() not in stop_words and token not in string.punctuation]

    lemmatizer = WordNetLemmatizer()

    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in filtered_tokens]

    return lemmatized_tokens

In [38]:
lemmatizer.lemmatize("fisherman")

'fisherman'