In [2]:
import pandas as pd
df =pd.read_csv("C:\\Users\\alok\\Desktop\\inzint\\datasets\\students.csv")

In [ ]:
df.columns

Index(['stud.id', 'name', 'gender', 'age', 'height', 'weight', 'religion',
       'nc.score', 'semester', 'major', 'minor', 'score1', 'score2',
       'online.tutorial', 'graduated', 'salary'],
      dtype='object')

In [3]:
df.head()

,stud.id,name,gender,age,height,weight,religion,nc.score,semester,major,minor,score1,score2,online.tutorial,graduated,salary
1,833917,"Gonzales, Christina",Female,19,160,64.8,Muslim,1.91,1st,Political Science,Social Sciences,NaN,NaN,0,0,NaN
2,898539,"Lozano, T'Hani",Female,19,172,73.0,Other,1.56,2nd,Social Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
3,379678,"Williams, Hanh",Female,22,168,70.6,Protestant,1.24,3rd,Social Sciences,Mathematics and Statistics,45.0,46.0,0,0,NaN
4,807564,"Nem, Denzel",Male,19,183,79.7,Other,1.37,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
5,383291,"Powell, Heather",Female,21,175,71.4,Catholic,1.46,1st,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN

In [4]:
# goodness of fit   >.> to check whether a variable is likely to come in a specific dist.
# independence  >>> association b/w two cart variables

In [14]:
df.isnull().sum()
df = df.dropna()

In [15]:
# Find whether there is equal proportion of males and females in university?

In [16]:
# hypothesis
null_hypo = "Proportion is same"
alt_hypo = "Proportion is not same"

In [17]:
# samples = 500
df["gender"]

11      Female
13        Male
14      Female
17      Female
28        Male
         ...
8229    Female
8234      Male
8235      Male
8238      Male
8239    Female
Name: gender, Length: 1753, dtype: object

In [18]:
# Count the number of males and females
male_count = df[df['gender'] == 'Male'].shape[0]
female_count = df[df['gender'] == 'Female'].shape[0]

# Calculate the proportion of males and females
male_proportion = male_count / len(df)
female_proportion = female_count / len(df)
print("Proportion of males:", male_proportion)
print("Proportion of females:", female_proportion)

Proportion of males: 0.6155162578436966
Proportion of females: 0.3844837421563035

# chi_2 for goodness of fit

In [28]:
contingency_table = pd.crosstab(df["gender"].sample(n=500, random_state=1), df["gender"].sample(n=500, random_state=1))
print(contingency_table)

# alpha 
alpha=0.05

# p = 1-alpha/2
p = 1-alpha/2
dof=1
from scipy.stats import chisquare, chi2

# percentage point function/ probabiity mass fn/prob density func.
critical_value = chi2.ppf(p, dof)
print(critical_value)

gender  Female  Male
gender
Female     193     0
Male         0   307
5.023886187314888

In [20]:
# chi squre test
stat, p_value = chisquare([193, 307], [250, 250])
print("stats",stat)
print("p_value",p_value)
# Interpret p-value:
if p_value <= alpha:
    print("Reject H0, proportions are likely different.")
else:
    print("Fail to reject H0, inconclusive about differences.")

stats 25.992
p_value 3.4283506780566255e-07
Reject H0, proportions are likely different.

In [22]:
from scipy.stats import chi2_contingency

# Perform chi-square test
chi2, pval, dof, expected = chi2_contingency(contingency_table)
print("\nchi2:\n",chi2)
print("pvalue:\n",pval)
print("dof:\n",dof)
print("expected:\n",expected)
# Interpret p-value:
if pval <= 0.05:
    print("\nReject H0, proportions are likely different.")
else:
    print("Fail to reject H0, inconclusive about differences.")

chi2:
 495.78956333663194
pvalue:
 7.835812014374055e-110
dof:
 1
expected:
 [[ 74.498 118.502]
 [118.502 188.498]]

Reject H0, proportions are likely different.

# chi_2 for Independence

In [23]:
# whether there is any relationship between gender of students and their major 
null_hypo = "no relationship b/w gender and major"
alt_hypo = "relationship b/w gender and major"

In [26]:
#crosstab gender vs major
table = pd.crosstab(df.major,df.gender)
print(table)

gender                      Female  Male
major
Biology                        152   178
Economics and Finance           73   222
Environmental Sciences         114   231
Mathematics and Statistics      48   240
Political Science              164   125
Social Sciences                123    83

In [29]:
# Step 2 Set Alpha
alpha = 0.05

# 3. Prob
p = 1-(alpha/2)

# 4 DOF
# major= 6-1 and gender = 2-1
dof = 5
critical_value = chi2.ppf(p, dof)
print(critical_value)

12.832501994030027

In [30]:
chi2, pval, dof, expected = chi2_contingency(table)

print("\nchi2:\n",chi2)
print("pvalue:\n",pval)
print("dof:\n",dof)
print("expected:\n",expected)
# Interpret p-value:
if pval <= 0.05:
    print("\nReject H0, proportions are likely different.")
else:
    print("Fail to reject H0, inconclusive about differences.")

chi2:
 173.71857686007684
pvalue:
 1.1736988372787206e-35
dof:
 5
expected:
 [[126.87963491 203.12036509]
 [113.42270394 181.57729606]
 [132.64689104 212.35310896]
 [110.73131774 177.26868226]
 [111.11580148 177.88419852]
 [ 79.20365088 126.79634912]]

Reject H0, proportions are likely different.