# Data Prep

In [1]:
path = "C:\\Users\\alok\\Downloads\\airbnb_data.csv"
import pandas as pd
df = pd.read_csv(path)
df.groupby(['city'])['room_type'].count()
sample_space = df.shape[0]

grouped_df = df.groupby(['city', 'room_type'])['room_type'].count()
airbn = pd.DataFrame({"count":df.groupby(['city', 'room_type'])['room_type'].count()}).reset_index()

# getting room

In [3]:
total_rooms = airbn['count'].sum()
probability_any_room = total_rooms / total_rooms
print("probability_any_room",probability_any_room)

probability_any_room 1.0

# Any apartment

In [5]:
total_apartments = airbn.loc[airbn['room_type'] == 'Apartment', 'count'].sum()
probability_apartment = total_apartments / total_rooms
print("probability_apartment",probability_apartment)

probability_apartment 0.8421231606281687

# Apartment in Boston

In [6]:
apartments_in_boston = airbn.loc[(airbn['city'] == 'Boston') & (airbn['room_type'] == 'Apartment'), 'count'].sum()
probability_apartment_in_boston = apartments_in_boston / total_rooms
print("probability_apartment_in_boston", probability_apartment_in_boston)

probability_apartment_in_boston 0.06686657598615062

# Apartment in Hawaii

In [7]:
apartments_in_hawaii = airbn.loc[(airbn['city'] == 'Hawaii') & (airbn['room_type'] == 'Apartment'), 'count'].sum()
probability_apartment_in_hawaii = apartments_in_hawaii / total_rooms
print("probability_apartment_in_hawaii", probability_apartment_in_hawaii)

probability_apartment_in_hawaii 0.619821936441202

# Apartment in Seattle

In [8]:
apartments_in_seattle = airbn.loc[(airbn['city'] == 'Seattle') & (airbn['room_type'] == 'Apartment'), 'count'].sum()
probability_apartment_in_seattle = apartments_in_seattle / total_rooms
print("probability_apartment_in_seattle", probability_apartment_in_seattle)

probability_apartment_in_seattle 0.15543464820081612

# Tasks

**Problem statement(Probability of an event)**

Consider that you have a coin and dice. Each time you roll them, you get a result, so try to solve the given questions based on coins and dice.

1.Roll the dice twice and find the probability of getting the number 6 each time.

2.Roll two dice at a time and find the probability of getting a sum of both dice greater than 9.

3.Flip a coin three times continuously and find the probability of getting three heads in a row.

4.Flip a coin anddice simultaneously and find the probability of getting head on the coin and number 5 on the dice simultaneously.

5.Card is drawn at random from the pack of 52 cards:

I.Find the probability that it is an honor card.

II.It is a face card of a diamond house.

Sure, let's solve each problem step by step:





3. **Flip a coin three times continuously and find the probability of getting three heads in a row.**

   Since each flip of the coin is an independent event, the probability of getting heads on each flip is 1/2.

   Probability of getting three heads in a row = (1/2) * (1/2) * (1/2) = 1/8

4. **Flip a coin and dice simultaneously and find the probability of getting head on the coin and number 5 on the dice simultaneously.**

   Since the coin flip and dice roll are independent events, the probability of getting a head on the coin is 1/2, and the probability of getting a 5 on the dice is 1/6.

   Probability of getting a head on the coin and number 5 on the dice simultaneously = (1/2) * (1/6) = 1/12

5. **Card is drawn at random from the pack of 52 cards:**

   I. **Find the probability that it is an honor card.**
   
      There are 16 honor cards in a deck of 52 cards (4 kings, 4 queens, 4 jacks, and 4 aces).

      Probability of drawing an honor card = 16 / 52 = 4 / 13

   II. **It is a face card of a diamond house.**
   
      There are 3 face cards in each suit (jack, queen, king), so there are a total of 3 * 4 = 12 face cards in a deck.

      Probability of drawing a face card of a diamond house = 12 / 52 = 3 / 13

These are the solutions to the given probability problems based on the outcomes of rolling dice, flipping coins, and drawing cards.

In [1]:
#1. **Roll the dice twice and find the probability of getting the number 6 each time.**



Probability_of_getting_a_6_on_the_first_roll = 1/6
Probability_of_getting_a_6_on_the_second_roll = 1/6

Probability_of_getting_a_6_on_both_rolls = (Probability_of_getting_a_6_on_the_first_roll) * (Probability_of_getting_a_6_on_the_second_roll)
Probability_of_getting_a_6_on_both_rolls

0.027777777777777776

In [3]:
# 2 Roll two dice at a time and find the probability of getting a sum of both dice greater than 9.**

Favorable_outcomes =  {(4, 6), (5, 5), (5, 6), (6, 4), (6, 5), (6, 6)}
No_of_fovourable_outcomes = len(Favorable_outcomes)
Total_possible_outcomes = 36

Probability_of_getting_a_sum_greater_than_9 = (No_of_fovourable_outcomes) / (Total_possible_outcomes)
Probability_of_getting_a_sum_greater_than_9

0.16666666666666666

In [ ]:
# 3. Probability of getting three heads in a row
probability_heads = 0.5

probability_three_heads = probability_heads ** 3

print("Probability of getting three heads in a row:", probability_three_heads)

# 4. Probability of getting head on the coin and number 5 on the dice simultaneously

probability_heads = 0.5
probability_number_5 = 1 / 6  

probability_coin_and_dice = probability_heads * probability_number_5

print("Probability of getting head on the coin and number 5 on the dice simultaneously:", probability_coin_and_dice)

In [1]:
# 5. Probability with cards
total_cards = 52

# Total number of honor cards = 4 * 4 = 16
probability_honor_card = 16 / total_cards

print("Probability of drawing an honor card:", probability_honor_card)

# Total number of face cards in diamond suit = 3
total_diamond_cards = 13 

probability_face_card_diamond = 3 / total_diamond_cards

print("Probability of drawing a face card of a diamond suit:", probability_face_card_diamond)

Probability of drawing an honor card: 0.3076923076923077
Probability of drawing a face card of a diamond suit: 0.23076923076923078

**Problem statement(Union and intersection of events)**

In  a  class  of  100  students,  a  survey  was  conducted  for  their  favorite  subject, where they could choose only one subject as their favorite. 23 boys and 15 girls like Maths, 17 boys and 23 girls like Science, and 10 boys and 12 girls like English. If we choose a random student out of them, find out the probability, where,

1.Students love Science subject.

2.Girls love Maths subject or English subject.

3.If  she is a girl, she loves English, or if he is a boy, then he loves Maths.

In [7]:
total_students = 100

science_boys = 17
science_girls = 23

total_science_students = science_boys + science_girls

# Probability that a randomly chosen student loves Science subject
probability_science = total_science_students / total_students

print("Probability that a randomly chosen student loves Science subject:", probability_science)

Probability that a randomly chosen student loves Science subject: 0.4

In [8]:
# girls who like Maths
maths_girls = 15

# girls who like English
english_girls = 12

# Total girls
total_girls = 50 
probability_girls_maths_or_english = (maths_girls + english_girls) / total_girls

print("Probability that a randomly chosen girl loves Maths subject or English subject:", probability_girls_maths_or_english)

Probability that a randomly chosen girl loves Maths subject or English subject: 0.54

In [10]:

probability_english_given_girl = 12 / total_girls
probability_maths_given_boy = 23 / 50 
probability = (probability_english_given_girl * 0.5) + (probability_maths_given_boy * 0.5)
print("Probability:", probability)

Probability: 0.35

In [6]:
path = "C:\\Users\\alok\\Downloads\\students.csv"

import pandas as pd 
student_data = pd.read_csv(path)
student_data

,stud.id,name,gender,age,height,weight,religion,nc.score,semester,major,minor,score1,score2,online.tutorial,graduated,salary
1,833917,"Gonzales, Christina",Female,19,160,64.8,Muslim,1.91,1st,Political Science,Social Sciences,NaN,NaN,0,0,NaN
2,898539,"Lozano, T'Hani",Female,19,172,73.0,Other,1.56,2nd,Social Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
3,379678,"Williams, Hanh",Female,22,168,70.6,Protestant,1.24,3rd,Social Sciences,Mathematics and Statistics,45.0,46.0,0,0,NaN
4,807564,"Nem, Denzel",Male,19,183,79.7,Other,1.37,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
5,383291,"Powell, Heather",Female,21,175,71.4,Catholic,1.46,1st,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8235,818044,"Her, Joshua",Male,22,181,79.1,Protestant,2.91,6th,Environmental Sciences,Social Sciences,73.0,71.0,0,1,36750.087135
8236,560166,"Reid, Jose",Male,23,178,72.6,Catholic,2.03,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
8237,380174,"Villa, Raechelle",Female,20,169,67.7,Other,3.72,3rd,Environmental Sciences,Economics and Finance,77.0,75.0,1,0,NaN
8238,540967,"Ngo, Preston",Male,23,195,98.6,Other,2.74,4th,Social Sciences,Political Science,50.0,46.0,1,1,40112.041834
8239,413207,"Bernhard, Estela",Female,19,170,69.0,Muslim,3.29,>6th,Political Science,Biology,47.0,59.0,1,1,45900.134459

**Load the “kerala.csv”data into a DataFrame and perform the following tasks:**


1.Explore the DataFrame using info()and describe()functions

2.June and July are the peak months of rainfall. Consider that if it rains more than  500mm,  then the chances  of  flood  become  more;  create  a  Datarame with  columns –“YEAR”,  “JUN_GT_500” (Contains  a  boolean  value  to  show whether  it  rained  more  than  500  mm  in June), “JUL_GT_500” (Contains  a boolean  value  to  show  whether  it  rained  more  than  500  mm  in July),and “FLOODS” (Contains a boolean value to show whether it flooded that year)

3.Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))

4.Calculate the probability of rain more than 500 mm in June, given it flooded that year (P(B|A))

5.Probability of flood given it rained more than 500 mm in July6.Probability  of  rain of more  than  500  mm  in  July  given  it  flooded  that  year (P(B|A))

In [11]:
import pandas as pd

path = "C:\\Users\\alok\\Downloads\\kerala_floods.csv"

df = pd.read_csv(path)

print("DataFrame info:")
print(df.info())

print("\nDataFrame description:")
print(df.describe())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB
None

DataFrame description:
              YEAR         JAN         FEB         MAR         APR  \
count   118.000000  118.000000  118.000000  118.000000  118.000000
mean   1959.500000   12.218644   15.633898   36.670339  110.330508
std      34.207699   15.473766   16.406290   30.063862   44.633452
min    1901.000000    0.000000    0.000000    0.100000   13.100000
25%    1930.250000    2.175000    4.700000   18.100000   74.350000
50%    1959.500000    5.800000    8.350000   28.400000  110.400000
75%    1988.750000   18.175000   21.400000   49.825000  136.450000
max    2018.000000   83.500000   79.000000  217.200000  238.000000

              MAY          JUN          JUL          AUG         SEP  \
count  118.000000   118.000000   118.000000   118.000000  118.000000
mean   228.644915   651.617797   698.220339   430.369492  246.207627
std    147.548778   186.181363   228.988966   181.980463  121.901131
min     53.400000   196.800000   167.500000   178.600000   41.300000
25%    125.050000   535.550000   533.200000   316.725000  155.425000
50%    184.600000   625.600000   691.650000   386.250000  223.550000
75%    264.875000   786.975000   832.425000   500.100000  334.500000
max    738.800000  1098.200000  1526.500000  1398.900000  526.700000

              OCT         NOV         DEC   ANNUAL RAINFALL
count  118.000000  118.000000  118.000000        118.000000
mean   293.207627  162.311017   40.009322       2925.405085
std     93.705253   83.200485   36.676330        452.169407
min     68.500000   31.500000    0.100000       2068.800000
25%    222.125000   93.025000   10.350000       2613.525000
50%    284.300000  152.450000   31.100000       2934.300000
75%    355.150000  218.325000   54.025000       3170.400000
max    567.900000  365.600000  202.300000       4473.000000

In [57]:
# boolean exceeding 500mm
df['JUN_GT_500'] = df['JUN'] > 500
df['JUL_GT_500'] = df['JUL'] > 500

# boolean column for flood based on conditions
df['FLOODS'] = (df['JUN_GT_500'] | df['JUL_GT_500'])

flood_df = df[['YEAR', 'JUN_GT_500', 'JUL_GT_500', 'FLOODS']]


print(flood_df)

     YEAR  JUN_GT_500  JUL_GT_500  FLOODS
0    1901        True        True    True
1    1902       False        True    True
2    1903        True        True    True
3    1904        True        True    True
4    1905        True        True    True
..    ...         ...         ...     ...
113  2014       False        True    True
114  2015        True       False    True
115  2016        True       False    True
116  2017       False       False   False
117  2018        True        True    True

[118 rows x 4 columns]

In [58]:
# rained more than 500 mm in June
total_june_gt_500 = df['JUN_GT_500'].sum()
total_flood_given_june_gt_500 = df[df['FLOODS'] & df['JUN_GT_500']]['FLOODS'].sum()

probability_flood_given_june_gt_500 = total_flood_given_june_gt_500 / total_june_gt_500

print("Probability of flood given it rained more than 500 mm in June:", probability_flood_given_june_gt_500)

Probability of flood given it rained more than 500 mm in June: 1.0

In [59]:
# rain more than 500 mm in June - given it flooded that year
total_floods = df['FLOODS'].sum()
total_june_gt_500_given_flood = df[df['FLOODS'] & df['JUN_GT_500']]['FLOODS'].sum()

probability_june_gt_500_given_flood = total_june_gt_500_given_flood / total_floods

print("Probability of rain more than 500 mm in June, given it flooded that year:", probability_june_gt_500_given_flood)

Probability of rain more than 500 mm in June, given it flooded that year: 0.808695652173913

In [60]:
# flood given it rained more than 500 mm in July
total_july_gt_500 = df['JUL_GT_500'].sum()
total_flood_given_july_gt_500 = df[df['FLOODS'] & df['JUL_GT_500']]['FLOODS'].sum()

probability_flood_given_july_gt_500 = total_flood_given_july_gt_500 / total_july_gt_500

print("Probability of flood given it rained more than 500 mm in July:", probability_flood_given_july_gt_500)

Probability of flood given it rained more than 500 mm in July: 1.0

In [61]:
# rain more than 500 mm in July given it flooded that year
total_july_gt_500_given_flood = df[df['FLOODS'] & df['JUL_GT_500']]['FLOODS'].sum()

probability_july_gt_500_given_flood = total_july_gt_500_given_flood / total_floods

print("Probability of rain more than 500 mm in July given it flooded that year:", probability_july_gt_500_given_flood)

Probability of rain more than 500 mm in July given it flooded that year: 0.8347826086956521